/* link , visited, hover, active */
a:link{
    color: orange;
}
a:visited{
    color:red;
}
a:hover{
    color: green;
}
a:active{
    color: black;
}
p:hover{
    color: green;
}
p:active{
    background-color: #ccc;
}
input:focus{
    padding: 10px;
    outline: none;
    border: 2px solid green;
}
input:required{
    color: red;
}